#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.userName {
  color: darkslateblue;
}

.title {
  font-size: 1.2rem;
  font-weight: 800;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
